<!--The content below is only a placeholder and can be replaced.-->

<div class="landing">
  <div class="landingWrapper">
    <div class="landingL">
      <h1>Vince Urag.</h1>
      <p>Hello! My name is Vince.<br>I’m a <span class="blue">Software Engineer.</span></p>
      <ul>
        <li>
          <p>Back-end</p>
        </li>
        <li>
          <p>Front-end</p>
        </li>
        <li>
          <p>UI/UX Design</p>
        </li>
        <li>
          <p>Database Management</p>
        </li>
      </ul>
    </div>
    <div class="landingR">
      <img src="assets/portrait.png" alt="portrait" width="300px">
    </div>
  </div>
  <img src="assets/scroll.png" alt="scroll" class="scroll">
</div>

<div class="tech-stack">
  <h2>Tech Stack.</h2>
  <h5 class="blue department">Front End</h5>
  <div class="skill-group">
    <ul>
      <li>HTML5</li>
      <li>CSS</li>
      <li>SASS</li>
    </ul>
    <ul>
      <li>Angular 5</li>
      <li>Node.Js</li>
    </ul>
  </div>

  <h5 class="blue department">Back End</h5>
  <div class="skill-group">
    <ul>
      <li>Elixir</li>
      <li>Ruby</li>
      <li>PHP</li>
    </ul>
    <ul>
      <li>Phoenix</li>
      <li>Rails</li>
    </ul>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
