<!--The content below is only a placeholder and can be replaced.-->

<div class="landing">
  <div class="landing-wrapper">
    <div class="landing-left">
      <h1>Vince Urag.</h1>
      <p>Hello! My name is Vince.<br>I’m a <span class="blue">Software Engineer.</span></p>
      <ul>
        <li>
          <p>Back-end</p>
        </li>
        <li>
          <p>Front-end</p>
        </li>
        <li>
          <p>UI/UX Design</p>
        </li>
        <li>
          <p>Database Management</p>
        </li>
      </ul>
    </div>
    <div class="landing-right">
      <img src="assets/portrait.png" alt="portrait" width="300px">
    </div>
  </div>

  <div class="cta-wrapper">
    <div class="cta">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="833.5 826 42 36.355" class="chat-icon">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #fff;
              stroke-width: 3px;
            }
          </style>
        </defs>
        <path id="Union_2" data-name="Union 2" class="cls-1" d="M6,25.5H5A4.5,4.5,0,0,1,.5,21V5A4.5,4.5,0,0,1,5,.5H35A4.5,4.5,0,0,1,39.5,5V21A4.5,4.5,0,0,1,35,25.5H12.235L6,31.734Z" transform="translate(834.5 827)"/>
      </svg>
      &nbsp; Message me
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="931.18 1009.808 57.639 29.527" class="scroll" [ngx-scroll-to]="'#tech-stack'">
    <defs>
      <style>
        .cls-1 {
          fill: none;
          stroke: #707070;
          stroke-width: 4;
        }
      </style>
    </defs>
    <path id="Path_1" data-name="Path 1" class="cls-1" d="M829.108,953.161l28.466,28.466,28.466-28.466" transform="translate(102.426 57)"/>
  </svg>
</div>

<div class="tech-stack" id="tech-stack">
  <h2>Tech Stack.</h2>
  <div class="stacks-wrapper">
    <div class="frontend">
      <h5 class="blue department">Front End</h5>
      <ul>
        <li>
          <figure>
            <img src="assets/frontend/html-logo.png" alt="HTML5" />
            <figcaption>HTML5</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/frontend/CSS3-logo.png" alt="CSS3" />
            <figcaption>Css3</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/frontend/sass-logo.png" alt="SASS" />
            <figcaption>sass</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/frontend/angular-logo.png" alt="Angular 5" />
            <figcaption>Angular 5</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/frontend/nodejs-logo.png" alt="Node JS" />
            <figcaption>NODE.JS</figcaption>
          </figure>
        </li>
      </ul>
    </div>

    <div class="backend">
      <h5 class="blue department">Back End</h5>
      <ul>
        <li>
          <figure>
            <img src="assets/backend/elixir.png" alt="elixir" />
            <figcaption>Elixir</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/backend/phoenix.png" alt="Phoenix" />
            <figcaption>Phoenix</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/backend/ruby.png" alt="ruby" />
            <figcaption>Ruby</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/backend/rails.png" alt="Rails" />
            <figcaption>Rails</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/backend/php-logo.png" alt="PHP" />
            <figcaption>PHP</figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- past projects -->


<!-- <router-outlet></router-outlet> -->
