/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

$blue: #6CA4FF;
$dark-blue: #5885FF;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  width: 60%;
  margin: auto;
}

.blue {
  color: $blue;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #0D1B43;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  color: #0D1B43;
}

h5 {
  font-size: 20px;
  margin-top: 10px;
  color: #0D1B43;
}

p {
  color: #A2A2A2;
}

// landing
.landing {
  height: 100vh;
  position: relative;

  .landing-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
  }

  .landing-left, .landing-right {
    margin-top: 4em;
  }

  .scroll {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    height: 10px;
    cursor: pointer;
  }

  .scroll:hover {
    > .cls-1 {
      stroke: $blue;
    }
  }
}

// tech stack
.tech-stack {
  text-align: center;
  margin-bottom: 20em;

  .department {
    margin-top: 20px;
  }

  p {
    margin-bottom: 30px;
  }

  ul {
    margin-top: 100px;

    li {
      color: #A2A2A2;
      display: inline;
      margin: 0 100px;
      text-transform: uppercase;
    }
  }
}

.cta-wrapper {
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;

  .cta {
    background-color: $dark-blue;
    width: 210px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    .chat-icon {
      height: 30px;

      > .cls-1 {
        fill: none;
        stroke: #fff;
        stroke-width: 3px;
      }
    }
  }
}

@media only screen and (max-width: 600px)  {

  body {
    width: 100%;
    margin: 0;
  }

  // landing
  .landing {
    height: 100vh;
    position: relative;

    .landing-wrapper {
      justify-content: space-around;
    }

    ul {
      list-style: none;
      margin-top: 30px;
      line-height: 30px;
    }

    .landing-right {
      display: none;
    }
  }

  .tech-stack {
    .skill-group {
      ul:first-of-type {
        margin-top: 15px;;
      }

      ul {
        margin-top: 0;
      }
    }
  }
}
